p {
    margin: 0;
}

.divider {
    border: none;
    background-color: rgb(37, 108, 201);
    height: 4px;
}

.calendar-section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

@keyframes left-logo-in {
    from {
        transform: translateX(-300%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes right-logo-in {
    from {
        transform: translateX(300%);
    }
    to {
        transform: translateX(0%);
    }
}

.left-logo {
    animation: left-logo-in 5s;
}

.right-logo {
    animation: right-logo-in 5s;
}

@keyframes match-appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.match {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(37, 108, 201);
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    animation: match-appear 3s;
}

.tournament {
    margin: 0;
    padding: 10px 20px 20px;
}

.teams {
    margin: 0;
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
}

.team {
    margin: 0;
    border-radius: 4px;
    font-size: 20px;
    height: 44px;
}

.match-team-logo {
    width: 35px;
    height: 35px;
    padding: 2.5px 5px;
}

.team-name {
    margin: 0;
    padding: 10px;
}

.home-team {
    display: flex;
    justify-content: flex-end;
}

.away-team {
    display: flex;
    justify-content: flex-start;
}

.match-info {
    background-color: rgb(181, 200, 235);
    color: #000;
    border-radius: 20px;
    padding: 5px;
    margin: 0 5px;
}

.next-match {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.next-match-time {
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

@keyframes logo-appear {
    0% {
        opacity: 0;
        scale: .8;
    }
    50% {
        opacity: .5;
        scale: .9;
    }
    100% {
        opacity: 1;
        scale: 1;
    }
}

.next-match-team-logo {
    height: 250px;
    animation: logo-appear 3s;
}

.next-match-separator {
    font-size: 150px;
    font-weight: bold;
}

.next-match-title {
    text-align: center;
    font-size: 25px;
}

.next-match-info {
    width: 80%;
    margin: 0 auto 10px;
    display: flex;
    justify-content: center;
}

.next-match-info h3 {
    margin: 0;
}

.match-odd {
    padding: 5px;
    border: #fff 1px solid;
    color: #fff;
    width: 5%;
    text-align: center;
    background-color: rgb(37, 108, 201);
    transition: background-color 0.5s;
}

.match-odd:hover {
    cursor: pointer;
    background-color: #000;
}

.stadium-icon {
    height: 20px;
    padding: 0 5px;
}

.previous-matches {
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.previous-match {
    width: 300px;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: rgb(37, 108, 201);
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.previous-matches-tables {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-cell {
    width: 50px;
}

.title-cell {
    text-align: left;
}

.score-cell {
    width: 20px;
    text-align: right;
}

.previous-match-tournament {
    font-size: 20px;
}

@keyframes scorers-in {
    0% {
        transform: translateX(-50%);
        opacity: 0.5;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes assistents-in {
    0% {
        transform: translateX(50%);
        opacity: 0.5;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

.best-players {
    width: 50%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 20px;
    text-align: center;
}

.most-goals {
    animation: scorers-in 3s ease-in;
}

.most-assists {
    animation: assistents-in 3s ease-in;
}

.best-players h2 {
    margin-top: 0;
}

.best {
    border-radius: 5px;
    background-color: rgb(37, 108, 201);
    color: #fff;
    padding-bottom: 10px;
    width: 90%;
}

.best th {
    padding: 20px 10px;
}

.best td {
    padding: 5px 10px;
}