body,
h1,
h2,
p,
div,
ul,
li,
a {
    margin: 0;
    padding: 0;
}

.container-md {
    width: 50%;
}

@media screen and (max-width: 1024px) {
    .container-md {
        width: 100%;
    }
}

.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.dropdown-menu {
    background-color: rgb(166, 166, 228);
}

.dropdown-item {
    color: #fff;
}

@keyframes left-logo-in {
    from {
        transform: translateX(-300%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes right-logo-in {
    from {
        transform: translateX(300%);
    }
    to {
        transform: translateX(0%);
    }
}

.left-logo {
    animation: left-logo-in 5s;
}

@media screen and (max-width: 1024px) {
    .nav-logo {
        display: none;
    }
}

.right-logo {
    animation: right-logo-in 5s;
}

.nav-logo {
    width: 60px;
    height: 60px;
}

.nav-title-collapsed {
    color: #fff;
    font-size: 20px;
    display: none;
}

@media screen and (max-width: 1024px) {
    .nav-title-collapsed {
        display: inline;
    }
}

.content-container {
    background-color: rgb(166, 166, 228);
}

.main-logo {
    margin: 5px 2.5%;
    width: 27%;
    height: 27%;
    cursor: pointer;
    animation: logo-appear 5s;
    transition: transform 2s;
}

.main-logo:hover {
    transform: rotate(360deg);
}

@media screen and (max-width: 1024px) {
    .main-logo {
        display: none;
    }
    .new-logo {
        display: block;
        margin: auto;
        width: 50%;
    }
    .logos-sign {
        display: none;
    }
}

@keyframes logo-appear {
    0% {
        opacity: 0;
        scale: .9;
    }
    50% {
        opacity: .5;
        scale: .95;
    }
    100% {
        opacity: 1;
        scale: 1;
    }
}

.title-section {
    padding-top: 8%;
}

@media screen and (max-width: 700px) {
    .title-section {
        padding-top: 13%;
    }
}

.content-media-left {
    margin-right: 40px;
    width: 40%;
    float: left;
    text-align: center;
}

.content-media-right {
    margin-left: 40px;
    width: 40%;
    float: right;
    text-align: center;
}

.ucl-vid {
    margin: auto;
    height: 500px;
    width: 60%;
}

@media screen and (max-width: 900px) {
    .ucl-vid {
        height: 200px;
        width: 90%;
    }
}

@media screen and (max-width: 700px) {
    .content-media-left,
    .content-media-right {
        width: 90%;
        display: block;
        padding: 0 5%;
    }
}

.text-content {
    margin-top: 50px;
}

.main-paragraph::first-letter {
    font-size: 25px;
}

.content-media-center {
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.footer-breaker {
    margin: 0;
    height: 7px;
    background-color: rgb(7, 12, 83);
    border: none;
}

.row {
    height: 100%;
}

.footer {
    padding-bottom: 10px;
    width: 100%;
    background-color: rgb(37, 108, 201);
    color: #fff;
    text-align: center;
}

.col-sm {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.copyright {
    flex-direction: column;
}

.social a {
    text-decoration: none;
}

.fa-brands {
    margin-left: 50px;
    background-color: transparent;
    transition: transform 0.5s;
    color: #fff;
}

.fa-brands:hover {
    transform: scale(1.35);
}

.map {
    width: 90%;
    height: 100%;
}