body {
    margin: 0;
    background-color: white;
}

ul {
    list-style-type: none;
    display: flex;
}

.content-container {
    width: 70%;
    padding: 20px 15px 0;
    margin: 50px auto 0;
    background-color: rgb(164, 196, 224);
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(37, 108, 201);
}

.navbar ul {
    margin: 0;
    padding: 0 40px;
}

.nav-item {
    display: flex;
    width: 150px;
    height: 70px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-decoration: none;
    color: black;
    transition: background-color 0.5s;
}

.nav-item:hover {
    background-color: rgb(164, 196, 224);
}

.nav-logo {
    width: 60px;
    height: 60px;
}

.dropdown {
    position: relative;
    text-align: center;
    cursor: pointer;
}

.dropdown ul {
    flex-direction: column;
    padding: 0;
}

.dropdown-content {
    visibility: hidden;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 0;
    margin-top: 195px;
    z-index: 1;
    font-size: 14px;
    background-color: rgb(166, 166, 228);
}

.dropdown:hover .dropdown-content {
    visibility: visible;
}

.dropdown-item {
    margin: 0;
    padding: 10px;
    transition: background-color 0.5s;
}

.dropdown-item:hover {
    background-color: rgb(96, 96, 187);
}

.dropdown-item-text {
    text-decoration: none;
    color: black;
}

.main-paragraph::first-letter {
    font-size: 25px;
}

.main-paragraph {
    text-indent: 20px;
    text-align: justify;
}

.title-section {
    text-align: center;
    margin-bottom: 60px;
}

.main-title {
    font-size: 40px;
}

.logos-section {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.main-logo {
    margin: 5px 2.5%;
    width: 30%;
    height: 30%;
    cursor: pointer;
    transition: transform 2s;
}

.main-logo:hover {
    transform: rotate(360deg);
}

.content-media {
    width: 100%;
}

.content-media-left {
    margin-right: 40px;
    width: 40%;
    float: left;
    text-align: center;
}

.content-media-right {
    margin-left: 40px;
    width: 40%;
    float: right;
    text-align: center;
}

.main-title {
    margin: 0 0 30px;
    padding-top: 20px;
    text-align: center;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

.main-header {
    text-align: center;
}

.img-signature {
    margin: 10px 0 0;
}

.content-media-center {
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.first-ucl-win {
    width: 60%;
    display: block;
}

.highlights-link {
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-style: italic;
    margin: 5px;
}

.highlights-text {
    margin: 0;
    transition: color 0.5s;
}

.highlights-text:hover {
    color: rgb(63, 125, 206)
}

.footer-breaker {
    margin: 0;
    height: 7px;
    background-color: rgb(7, 12, 83);
    border: none;
}

.footer {
    padding-bottom: 10px;
    width: 100%;
    height: 250px;
    background-color: rgb(37, 108, 201);
    color: #fff;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.social a {
    text-decoration: none;
}

.fa-brands {
    margin-left: 50px;
    background-color: transparent;
    transition: transform 0.5s;
    color: #fff;
}

.fa-brands:hover {
    transform: scale(1.35);
}